* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: lightgray;
}
.cabecalho {
    background-color: gray;
    border-bottom: solid 5px lightskyblue;
    height: 80px;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    height: 80px;
    padding: 15px;
}

.logo img {
    height: 100%;
}

.menu-toggle {
    float: right;
    color: aliceblue;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.cabecalho a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
    padding: 15px;
}

.menu a {
    padding: 15px;
}

.autenticacao {
    float: right;
    height: 80px;
    padding: 25px;
}

.menu a:hover,
.menu a.selected {
    background-color: lightskyblue;
    color: black;
}

.botao {
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
}

.destaque {
    background: firebrick;
    color: white;
}

@media(min-width: 720px) {
    .menu-toggle {
        display: none;
    }
}

@media(max-width: 720px) {
    .menu {
        display: none;
    }
}

@media(max-width: 960px) {
    .autenticacao {
        display: none;
    }
}