.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container div {
    flex-basis: 100px;
    width: 200px; /* perde */
}

.flex-container div:nth-child(4) {
    /* grow shrink basis */
    flex: 3 6 100px;
}