body {
  background-color: #555;
  background-image: url(ff04632929741caf26f01c71b8ce3c5a.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

